<html>
   <% include ../partials/header %>
   </head>
   <body>
      <a href="/groups/edit">Edit groups</a>
      <a href="/groups/list">List groups</a>
   <% include ../partials/footer %>
   </body>
</html>
