<!DOCTYPE html>
<html>
    <head>
  <% include ../partials/header %>

    <link rel='stylesheet' href='/stylesheets/reset.css' type='text/css' />

       <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' />
        <link href='/stylesheets/Hover-master/css/hover.css' rel='stylesheet' media='all'>
        <link rel='stylesheet' href="stylesheets/font-awesome-4.6.1/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,100' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Cabin:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <script src="js/modernizr.custom.js"></script>

  </head>
  <body>

      <div class="loader"></div>

   <div class="navright">
    <ul class="list-inline">
        <li role="presentation" ><a href="/about" class="icon hvr-hang" title="About">About</a></li>
        <li role="presentation" ><a href="/profile" class="icon hvr-hang" title="Profile">Profile</a></li>
        <li role="presentation" ><a href="/contact" class="icon hvr-hang" title="Contact">Contact</a></li>
    </ul>
   </div>
    <div align="center" class="navcenter">
      <img class="mainLogo hvr-bob" src="images/mainLogoSkin.png" alt="Volitude">

      <hr>

      <nav class="cl-effect-1">
					<a href="/auth/google">Login with Google</a>
					<!--<a href="signup.ejs">Sign Up</a>-->
				</nav>
    </div>
<!--
<div class="container login">
    <form action="/login" method="post">
    Enter your name:
    <input type="text" name="userName" placeholder="..." />
    <br>
    <button type="submit">Submit</button>
    </form>
</div>
-->
   <% include ../partials/footer %>
   <script type="text/javascript">
     $(window).load(function() {
    $(".loader").delay(1).fadeOut("slow");
      })
    </script>

  </body>

</html>
