<!DOCTYPE html>
<html>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' />

    <link href='https://fonts.googleapis.com/css?family=Cabin:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>

      <img class="mainLogo" src="images/mainLogoSkin.png" alt="Voluptuous">
      <h1>Voluptuous</h1>

    <p>Welcome to Voluptuous</p>
    <form action="/login" method="post">
    Enter your name:
    <input type="text" name="userName" placeholder="..." />
    <br>
    <button type="submit">Submit</button>
    </form>


  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>


  <script src='/javascripts/test.js'></script>
</html>
