<!DOCTYPE html>
<html>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <head>
    <title>Voluptuous</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (typeof(data) !== 'undefined' && data.length > 0) { %>
      <h1>Welcome <%= data %>!</h1>
    <% } else { %>
      <h1>Voluptuous</h1>
    <% } %>
    <p>Welcome to Voluptuous</p>
    <form action="/login" method="post">
    Enter your name:
    <input type="text" name="userName" placeholder="..." />
    <br>
    <button type="submit">Submit</button>
    </form>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>


  <script src='/javascripts/test.js'></script>
</html>
