body {
  padding: 50px;
  font: 14px "Cabin:400", Helvetica, Arial, sans-serif;
  background: url(images/geometrygreen2.jpg) repeat-x repeat-y;
      
}

a {
  color: #00B7FF;
}

.mainLogo {
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

nav {
    margin-left: 80%;
    text-decoration:none;
    
}

nav.li {
    display: inline;
    text-decoration: none;
    
}