
body {
  /*padding: 50px;*/
  font-family: "Cabin", Helvetica, Arial, sans-serif; 
  font-weight: 700;
  font-size: 14px;
  background-image: url("/images/geometrygreen2.jpg");
  background-repeat: repeat;

}

img{
    padding-top: 50px;
}

form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

p{
    margin-left: auto;
    margin-right: auto;
}

ul li a {
  color: #999;
  font-family: "Cabin", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

a:hover {
    color: #80e44e; 
    text-decoration: none;
}


.login {
    margin: 0 auto;
    width: 25%;
}

.mainLogo {
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.login{
    display: block;
    margin: center;
}

.navright {
    margin-left: 86%;
    padding: 10px;
}

ul {
    padding: 10p ;
    padding: 10p ;
    list-style-type: none;
}

ul li {
    display: inline;
}
/*.navbar-fnt > li {
    font-family: "Cabin", Helvetica, Arial, sans-serif;
}*/

