body {
  /*padding: 50px;*/
  font-family: "Cabin:700", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-image: url("/images/geometrygreen2.jpg");
  background-repeat: repeat;

}

img{
    padding-top: 50px;
}

form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

p{
    margin-left: auto;
    margin-right: auto;
}

a {
  color: #00B7FF;
}

.login {
    margin: 0 auto;
    width: 25%;
}

.mainLogo {
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.login{
    display: block;
    margin: center;
}

.nav {
    padding: 10px;
    margin-left: 80%;

}

.navbar-fnt > li {
    font-family: "Cabin", Helvetica, Arial, sans-serif;
    color: #fff;
}

.navbar-default {
    /*background-color: #b0b0b0;
    color: green;*/
}

.nav-pills > li {
    
    background-color: gray;
    color: dimgray;
}

nav.li {
    display: inline;
    text-decoration: none;

}
